body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: #dd1616;
  background: #000000;
  font-family: cursor, monospace;
  overflow-x: hidden;
}

::selection {
  color: #000000;
  background-color: #ffffff;
}

::-moz-selection {
  color: #000000;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: .7em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca1515;
}
textarea {
  left: -1000px;
  position: absolute;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

.cursor {
  font-size: 12px;
  color: #91b11c;
  background-color: #91b11c;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 4px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#command {
  cursor: text;
  height: 50px;
  color: #91b11c;
}

#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

#liner::before {
  color: #dd1616;
  content: "gb-redRabbit:~$";
}

#liner.password::before {
  content: "Password:";
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}

.no-animation {
  animation: typing 0 steps(30, end);
}

.margin {
  position: relative;
  margin-left: 20px;
}

 .link{
 position: absolute;
 left:280px
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.index {
  color: #dbb240;
}
.color2 {
  color: #91b11c;
}
.command {
  color: #91502a;
  text-shadow: 5px 0 5px #91502a; 
}
.error {
  color: #B89076;
}
.white {
  color: #fff;
}
.inherit,
a {
  color: #b67014;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #b67014;
  color: #fcfcfc;
}
a:focus {
  outline: 0;
}

